<?xml version="1.0" ?>
<robot name="vl53l1x_device">

  <link name="mount" />

  <joint name="sensor_mount_joint" type="fixed">
    <parent link="mount" />
    <child link="sensor_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="sensor_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.01 0.003" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.002" />
      <inertia ixx="0.00000001" ixy="0.0" ixz="0.0" iyy="0.00000002" iyz="0.0" izz="0.00000002" />
    </inertial>
  </link>

</robot>
